.coinPageContainer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  max-height: 900px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.coinInfo {
  margin: 20px;
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.coinHeader {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  img {
    width: 50px;
    margin-right: 10px;
  }

  span {
    font-size: 1.5em;
  }
}

.coinInfoBody {
  display: flex;
  justify-content: space-between;

  > div {
    flex: 1;
  }
}

.back {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-weight: 800;
  width: 200px;
  height: 40px;
  border-radius: 5px;
  color: #111;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

p {
  font-size: 1.2em;
  margin-bottom: 10px;
}
