.pagination {
  margin: 15px auto;
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;

  li {
    margin: 0 4px;
    display: inline-block;

    button {
      padding: 8px 12px;
      font-size: 14px;
      cursor: pointer;
      border: none;

      &:focus {
        outline: none;
      }

      &:hover {
        background-color: #f0f0f0;
      }
    }

    &.active {
      button {
        background-color: #222531;
        color: #ffffff;
      }
    }
  }
}

@media (max-width: 768px) {
  .pagination {
    font-size: 10px;
  }
}
