.header {
  padding: 20px;
  display: grid;
  grid-template-areas:
    "traiding portfolio"
    "search search";
    gap: 20px;
}

.traiding {
  grid-area: traiding;
}
.portfolio {
  grid-area: portfolio;
}
.search {
  grid-area: search;
}
