.coinTable {
  width: 100%;
}

.coinTable img {
  width: 30px;
  height: 30px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.coinTable tr td {
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  line-height: 1.3em;
  vertical-align: middle;
  background-color: #fff;
}

.coinTable tr td:nth-child(4) {
  min-width: 150px;
}

.coinTable thead tr td {
  background-color: #4d4d4d;
  color: #fff;
  padding: 15px;
  border: 1px solid #4d4d4d;
}

.coinTable tbody tr td {
  padding: 10px;
  border-bottom: 1px solid #cacaca;
}

@media only screen and (max-width: 1200px) {
  .wrap {
    box-sizing: border-box;
    padding: 0px 10px;
  }
}

@media only screen and (max-width: 979px) {
  .coinTable thead {
    display: none;
  }

  .coinTable tr {
    display: flex;
    flex-wrap: wrap;
  }

  .coinTable tbody tr td {
    display: flex;
    width: 100%;
    align-items: center;
    border-top: none;
  }

  .coinTable tbody tr td::before {
    content: attr(data-label);
    width: 30%;
    text-align: left;
    padding-right: 20px;
    box-sizing: border-box;
  }

  .coinTable tbody tr td .contentTableTd {
    width: 70%;
    text-align: left;
  }

  .coinTable tbody tr td:first-child {
    border-top: 1px solid #cacaca;
  }

  .coinTable tbody tr td:last-child {
    border-bottom: 1px solid #cacaca;
    margin-bottom: 40px;
  }
}

@media only screen and (max-width: 479px) {
  .coinTable tbody tr td {
    flex-wrap: wrap;
    padding: 0px;
    border-bottom: none;
  }
  .logo {
    justify-content: flex-start;
  }

  .coinTable tbody tr td img {
    max-width: 90%;
  }

  .coinTable tbody tr td::before {
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 10px;
  }

  .coinTable tbody tr td .contentTableTd {
    width: 100%;
    text-align: center;
    padding: 10px;
  }

  .coinTable tbody tr td:nth-child(3) .contentTableTd {
    text-align: left;
  }
}
