.card {
  width: 100%;
  padding: 20px;
  border: 2px solid #111;
  background-color: #222531;
  color: #fff;
  border-radius: 8px;
  box-shadow: rgba(88, 102, 126, 0.08) 0px 4px 24px,
    rgba(88, 102, 126, 0.12) 0px 1px 2px;
  &__header {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  &__coinList {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  &__coinIndex {
    color: #858ca2;
  }

  &__coinLogo {
    width: 20px;
    height: 20px;
    object-fit: contain;
  }

  &__coinCard {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  &__title {
    font-weight: 800;
    font-size: 12px;
  }

  &__symbol {
    color: #858ca2;
    font-size: 12px;
  }
}

li:hover {
  color: #858ca2;
  cursor: pointer;
}
