.card {
  width: 100%;
  padding: 20px;
  border: 2px solid #111;
  background-color: #222531;
  color: #fff;
  border-radius: 8px;
  box-shadow: rgba(88, 102, 126, 0.08) 0px 4px 24px,
    rgba(88, 102, 126, 0.12) 0px 1px 2px;
}
.card__header {
  display: flex;
  align-items: center;
  gap: 5px;
}

.card__coinList {
  margin-top: 20px;
  padding: 20px;
}

.card__coinCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  text-align: center;
}

.card__symbol,.card__name{
  width: 100px;
  display: flex;
  justify-content: center;
}

.card__usdPrice {
  width: 180px;
}

li:hover {
  color: #858ca2;
  cursor: pointer;
}
